USE [ECAFE]
GO
/****** Object:  Table [dbo].[CIKKCSOPORT]    Script Date: 12/26/2008 23:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIKKCSOPORT](
	[CIKKCSOPORT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CIKKCSOPORT_NEV] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIKK]    Script Date: 12/26/2008 23:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIKK](
	[CIKK_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEGNEVEZES] [varchar](50) NOT NULL,
	[CIKK_TIPUS] [int] NULL,
	[CIKKCSOPORT_ID] [int] NOT NULL,
	[ERTEKESITES_TIPUSA] [varchar](1) NULL,
	[MEGYS_ID] [varchar](10) NULL,
	[OTHER_FILTER_ID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Összetett vagy egszerű cikk 0,1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CIKK', @level2type=N'COLUMN',@level2name=N'CIKK_TIPUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'L - Liter, D - Darab' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CIKK', @level2type=N'COLUMN',@level2name=N'ERTEKESITES_TIPUSA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mennyiségi egység táblával kapcsolódik' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CIKK', @level2type=N'COLUMN',@level2name=N'MEGYS_ID'
GO
/****** Object:  Table [dbo].[RECEPT]    Script Date: 12/26/2008 23:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEPT](
	[OSSZ_CIKK_ID] [int] NULL,
	[OSSZ_CIKK_TARTOZEK_ID] [int] NULL,
	[TARTOZEK_MENNY] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASZTAL_TIPUS]    Script Date: 12/26/2008 23:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASZTAL_TIPUS](
	[ASZTAL_TIPUS_ID] [int] NOT NULL,
	[TIPUS] [varchar](50) NULL,
 CONSTRAINT [PK_ASZTAL_TIPUS] PRIMARY KEY CLUSTERED 
(
	[ASZTAL_TIPUS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEGYS]    Script Date: 12/26/2008 23:43:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEGYS](
	[MEGYS_ID] [varchar](50) NULL,
	[MEGYS_MEGNEVEZES] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIKCSOP_OTHER_FILTER]    Script Date: 12/26/2008 23:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIKCSOP_OTHER_FILTER](
	[OTHER_FILTER_ID] [int] NULL,
	[OTHER_NAME] [varchar](50) NULL,
	[CIKKCSOPORT_ID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIT_KISZ]    Script Date: 12/26/2008 23:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIT_KISZ](
	[LIT_KISZ_ID] [int] IDENTITY(1,1) NOT NULL,
	[LIT_KISZ_CIKK_ID] [int] NULL,
	[LIT_KISZ_NEV] [varchar](50) NULL,
	[LIT_KISZ_MENNY] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_FIELDS]    Script Date: 12/26/2008 23:43:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DB_FIELDS](
	[DF_ID] [int] IDENTITY(1,1) NOT NULL,
	[DF_TABLENAME] [varchar](100) NOT NULL,
	[DF_FIELDNAME] [varchar](100) NOT NULL,
	[DF_DISPLAYTEXT] [varchar](100) NULL,
	[DF_ISID] [smallint] NULL CONSTRAINT [DF_DB_FIELDS_DF_ISID]  DEFAULT ((0)),
	[DF_ISVISIBLE] [smallint] NULL CONSTRAINT [DF_DB_FIELDS_DF_VISIBLE]  DEFAULT ((1)),
	[DF_INDEX] [int] NULL,
	[DF_ISCOMBO] [smallint] NULL,
	[DF_ISREADONLY] [smallint] NULL,
	[DF_ISFILEUPLOAD] [smallint] NULL,
 CONSTRAINT [PK_DB_FIELDS] PRIMARY KEY CLUSTERED 
(
	[DF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_COMBOS]    Script Date: 12/26/2008 23:43:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DB_COMBOS](
	[DBC_ID] [int] IDENTITY(1,1) NOT NULL,
	[DBC_TABLENAME] [varchar](100) NULL,
	[DBC_FIELDNAME] [varchar](100) NULL,
	[DBC_CON_TABLENAME] [varchar](100) NULL,
	[DBC_CON_DISP_FIELDNAME] [varchar](100) NULL,
	[DBC_CON_ID_FIELDNAME] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_TABLES]    Script Date: 12/26/2008 23:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DB_TABLES](
	[DBT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DBT_TABLENAME] [varchar](255) NULL,
	[DBT_DISPLAYNAME] [varchar](255) NULL,
	[DBT_FILTER] [varchar](1024) NULL,
 CONSTRAINT [PK_DB_TABLES] PRIMARY KEY CLUSTERED 
(
	[DBT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ASZTAL]    Script Date: 12/26/2008 23:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASZTAL](
	[ASZTAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[ASZTAL_SZAM] [varchar](10) NOT NULL,
	[ASZTAL_TIPUS_ID] [int] NOT NULL,
	[ASZTAL_POS_X] [int] NULL,
	[ASZTAL_POS_Y] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_ASZTAL_ASZTAL_TIPUS]    Script Date: 12/26/2008 23:42:56 ******/
ALTER TABLE [dbo].[ASZTAL]  WITH CHECK ADD  CONSTRAINT [FK_ASZTAL_ASZTAL_TIPUS] FOREIGN KEY([ASZTAL_TIPUS_ID])
REFERENCES [dbo].[ASZTAL_TIPUS] ([ASZTAL_TIPUS_ID])
GO
ALTER TABLE [dbo].[ASZTAL] CHECK CONSTRAINT [FK_ASZTAL_ASZTAL_TIPUS]
GO
